@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
* {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  user-select: none;
}

*::-webkit-scrollbar {
  display: none;
}

/* ----------------cross-browsing 해결, 아이폰에서 input 값 입력안되는 문제 해결------------------- */

input {
  -webkit-user-select: text; /* Chrome, Opera, Safari */
  -moz-user-select: text; /* Firefox 2+ */
  -ms-user-select: text; /* IE 10+ */
  user-select: text; /* Standard syntax */
}

textarea {
  -webkit-user-select: text; /* Chrome, Opera, Safari */
  -moz-user-select: text; /* Firefox 2+ */
  -ms-user-select: text; /* IE 10+ */
  user-select: text; /* Standard syntax */
}

.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.res-loginbar {
  display: none !important;
}
/* 반응형CSS 웹뷰(Midium) */
@media only screen and (max-width: 1199px) {
}
/* 반응형CSS 태블릿 뷰 */
@media only screen and (max-width: 839px) {

  .res-missionHeader {
    padding: 5px 0 0 0 !important;
  }
  .res-selectMissionList-1 {
    display: block !important;
  }
  .res-selectMissionList-2 {
    display: none !important;
  }
  .res-missionSelect {
    display: flex !important;
  }
  .res-monthMissionTitle {
    display: none !important;
  }
  .res-pastMissionList {
    display: block !important;
  }
  .res-wepPastMissionList {
    display: none !important;
  }
  /* // 지난미션 용 */
  .res-missionTitle {
    margin-left: 25px !important;
  }
  /* .res-missionMemberBox {
    padding: 0 0 20px 5px !important;
  }
  .res-missionCompletedAt {
    margin-right: 9% !important;
  } */
}
/*  Medium (Tablet) */
@media screen and (max-width: 1024px) {

  .res-missionHeader {
    padding: 5px 0 0 0 !important;
  }
  .res-selectMissionList-1 {
    display: block !important;
  }
  .res-selectMissionList-2 {
    display: none !important;
  }
  .res-missionSelect {
    display: flex !important;
  }
  .res-monthMissionTitle {
    display: none !important;
  }
  .res-pastMissionList {
    display: block !important;
  }
  .res-wepPastMissionList {
    display: none !important;
  }
  /* .res-missionMember {
    margin: 0 35px !important;
  } */
  /* // 지난미션 용 */
  /* .res-missionTitle {
    margin-left: 25px !important;
  }
  .res-missionMemberBox {
    padding: 0 0 20px 5px !important;
  }
  .res-missionCompletedAt {
    margin-right: 9% !important;
  } */
}
/* 반응형CSS 모바일 뷰 */
@media only screen and (max-width: 599px) {
  .res-missionHeader {
    margin: 20px 20px 10px -15px !important;
    padding: 16px -5px !important;
  }
  /* .res-statusBox {
    padding: 0px 20px !important;
    height: 8rem !important;
  } */
  .res-stausMiddleBox {
    padding: 15px !important;
  }
  .res-selectBox.div.div {
    padding: 10px !important;
  }
  /* .res-missionStatusTitle {
    font-size: 15px !important;
  } */
  .res-missionStatus {
    font-size: 24px !important;
  }
  .res-missionListWrap {
    margin: 15px 6px !important;
  }
  .res-missinoListBox {
    margin-top: 0px !important;
  }

  /* .res-missionMember {
    margin: 0 40px !important;
  } */
  .res-pastMissionMember {
    margin: 0 25px !important;
  }
}
.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex-row-start {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.flex-row-end {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-column-start {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.flex-column-end {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}